.calendar {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin: 1px solid;
    /* box-shadow:  */
    display:table; 
}

.calendar .header {
    background: rgb(78, 164, 230);
    height: 31px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.calendar .header .previousMonth {
    /* display: inline-block; */
    cursor: pointer;
    margin-left:10px;
    /* position: absolute; */
    float:left;
}

.calendar .header .calendarMonth {
    display: inline-block;
    /* margin-left: 18%; */
    /* margin-right:18%; */
    
    /* margin-left: auto;
    margin-right: auto; */
    letter-spacing: 0.2px;
    margin-top: 7px;
}

.calendar .header .nextMonth {
    cursor: pointer;
    /* display:inline-block; */
    /* padding-right: 10px; */
    /* position: absolute; */
    margin-right: 10px;
    float: right;
}

.dayNames {
    background: rgba(216, 216, 216, 0.872);
}


.dayName {
    width: 27px;
    font-size: 13px;
    display: inline-block;
    /* padding: 0.2px; */
    /* margin-right: 2px; */
}

.calendarContent {
    border: 1px solid; 
    border-collapse: collapse;
    border-color: black;
}

.calendarContent tr {
    border: 1px solid;
    border-collapse: collapse;
    border-color: rgba(176, 172, 172, 0.8);
}


.calendarContent td {
    width: 28.1px;
    border: 1px solid;
    border-collapse: collapse;
    border-color: rgba(176, 172, 172, 0.8);
}